@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-x-hidden;
  -webkit-text-size-adjust: 100%;
}

body {
  @apply min-h-screen bg-slate-100 text-slate-800 antialiased overflow-x-hidden;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
}
